$social-tags: '';
$brand-small-icon-size: 30px;

$gray-1: #F4F4F4;
$gray-2: #a9a9a9;
$gray-3: #797979;
$gray-4: #515151;

$brand-blue: rgb(0, 83, 159);
$brand-blue-secondary: #0095DD;

$brand-white: rgb(255, 255, 255);

$brand-red: rgb(193, 56, 50);
$brand-red-secondary: #e0543e;

$brand-yellow: rgb(255, 203, 0); 

$brand-charcoal: rgb(77, 78, 83);

$slide-width: 900px;
$slide-height: 700px;
$slide-width-widescreen: 1100px;
$slide-top-bottom-padding: 40px;
$slide-left-right-padding: 60px;
$slide-border-radius: 5px;

$slide-tap-area-width: 100px;

$article-content-top-padding: 45px;
