<footer class="padding-50 ui-bg-color02">
   <div class="container-fluid nopadding">
      <div class="row">
         <div class="col-md-6">
            <h4 class="font-accident-two-normal uppercase">Michael Kohler</h4>
            <p class="inline-block">
               JavaScript frontend and backend developer with a passion for Web Standards
            </p>
         </div>
         <div class="col-md-6">
            <h4 class="font-accident-two-normal uppercase">Follow me</h4>
            <div class="follow">
                <ul class="list-inline social">
                    <li><a target="_blank" href="https://www.twitter.com/KohlerSolutions"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.xing.com/profile/Michael_Kohler36"><i class="fa fa-xing"></i></a></li>
                    <li><a target="_blank" href="https://www.michaelkohler.info"><i class="fa fa-globe"></i></a></li>
                    <li><a target="_blank" href="https://www.github.com/MichaelKohler"><i class="fa fa-github"></i></a></li>
                    <li><a target="_blank" href="mailto:me@michaelkohler.info"><i class="fa fa-envelope"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12 copyrights">
            <p>© 2016-2018 Michael Kohler - Design is an adapted template by <a href="https://wrapbootstrap.com/user/alexeyka">alexeyka</a></p>
         </div>
      </div>
   </div>
</footer>
