<header>
   <section id="top-navigation" class="container-fluid nopadding">
      <div class="row nopadding ident ui-bg-color01">
         <div class="col-md-5 col-lg-4 vc-photo">&nbsp;</div>

         <div class="col-md-7 col-lg-8 vc-name nopadding">
            <div class="row nopadding name">
               <div class="col-md-12 name-title"><h1 class="font-accident-two-light uppercase">Michael Kohler</h1></div>
            </div>

            <aside class="row nopadding position">
               <div class="col-md-12 position-title">
                  <section class="cd-intro">
                     <h4 class="cd-headline clip is-full-width font-accident-two-normal uppercase">
                        <span>I'm an experienced&nbsp;<typer words="['JavaScript Developer', 'NodeJS developer', 'Community Builder']" type-time="50" backspace-time="70" start-delay="1500"></typer></span>
                     </h4>
                  </section>
               </div>
            </aside>

            <nav>
              <ul id="nav" class="row nopadding cd-side-navigation">
                 <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color01">
                    <a ui-sref="main" ui-sref-active="active"><i class="fa fa-user"></i><span>resume</span></a>
                 </li>
                 <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color03">
                    <a ui-sref="mozilla" ui-sref-active="active"><i class="fa fa-globe"></i><span>mozilla</span></a>
                 </li>
                 <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color04">
                    <a ui-sref="talks" ui-sref-active="active"><i class="fa fa-microphone"></i><span>talks</span></a>
                 </li>
                 <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color05">
                    <a ui-sref="contact" ui-sref-active="active"><i class="fa fa-envelope"></i><span>contact</span></a>
                 </li>
                 <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color05">
                    <a target="_blank" href="https://www.github.com/MichaelKohler"><i class="fa fa-github"></i><span>GitHub</span></a>
                 </li>
                 <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color06">
                    <a target="_blank" href="https://www.michaelkohler.info"><i class="fa fa-pencil"></i><span>blog</span></a>
                 </li>
              </ul>
            </nav>
         </div>
      </div>
   </section>
</header>
