<header>
   <section id="top-navigation" class="container-fluid nopadding">
      <div class="row nopadding ident ui-bg-color01">
         <a href="#!">
            <div class="col-md-5 col-lg-4 vc-photo">&nbsp;</div>
         </a>

         <div class="col-md-7 col-lg-8 vc-name nopadding">
            <div class="row nopadding name">
               <div class="col-md-12 name-title"><h2 class="font-accident-two-light uppercase">Michael Kohler</h2></div>
            </div>
            <div class="row nopadding position">
               <div class="col-md-12 position-title">

                  <section class="cd-intro">
                     <h4 class="cd-headline clip is-full-width font-accident-two-normal uppercase">
                        <span>I'm an experienced
                            <typer words="['JavaScript Developer', 'NodeJS developer', 'Community Builder']" type-time="50" backspace-time="70" start-delay="1500"></typer>
                        </span>
                     </h4>
                  </section>

               </div>
            </div>

            <ul id="nav" class="row nopadding cd-side-navigation">
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color01">
                  <a href="home.html" class="hvr-sweep-to-bottom"><i class="flaticon-insignia"></i><span>home</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color02">
                  <a href="resume.html" class="hvr-sweep-to-bottom"><i class="flaticon-graduation61"></i><span>experience</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color03">
                  <a href="portfolio.html" class="hvr-sweep-to-bottom"><i class="flaticon-internet"></i><span>mozilla</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color04">
                  <a href="contacts.html" class="hvr-sweep-to-bottom"><i class="flaticon-earphones18"></i><span>presentations</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color05">
                  <a href="feedback.html" class="hvr-sweep-to-bottom"><i class="flaticon-profile5"></i><span>contact</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color06">
                  <a href="blog.html" class="hvr-sweep-to-bottom"><i class="flaticon-pens15"></i><span>blog</span></a>
               </li>
            </ul>
         </div>
      </div>
   </section>
</header>
