/* GLOBAL */
a:hover {
  text-decoration: underline;
}

/* HEADER */
#top-navigation .menuitem a span {
  font-weight: 300;
}

#top-navigation .menuitem:hover a span {
  font-weight: 500;
  font-size: 13px;
}

/* FOOTER */
.copyrights a {
  color: #F8FFE9;
  text-decoration: underline;
}

/* ABOUT */
#homesection > section:nth-child(2) {
  display: flex;
}

.m-details {
  display: flex;
}

.single-skill {
  margin-top: 2em;
}

.infoblock:first-child {
  padding-left: 0;
}

.single-skill {
  margin-top: 2em;
}

.pro-experience h3,
.personal h3 {
  padding-bottom: 20px;
}

.experience:first-child {
  margin-bottom: 30px;
}

.infoblock-container {
  padding: 0;
  margin: 20px 0;
}

/* PRESENTATION */
#presentationsection h4 {
  margin-top: 2em;
}

.presentation-list {
  line-height: 2.5em;
}

/* MOZILLA */
.mozilla-video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;  /* we can still keep the aspect ratio in tact */
}

.mozilla-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mozilla h4,
.mozilla iframe {
  margin-top: 30px;
}

.mozilla h5 {
  margin-top: 15px;
}

/* CONTACT */
#contacts-data {
  margin-top: 60px;
}



@media (max-width: 992px) {
  #homesection > section:nth-child(2) {
    flex-direction: column;
  }

  .m-details {
    flex-direction: column;
  }

  #contacts-data {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  #top-navigation .ident .vc-name .position h4 {
    font-size: 13px;
  }

  #top-navigation .ident .vc-name .position .position-title {
    padding: 30px 40px 37px 40px;
  }

  .single-skill {
    margin-top: 2em;
  }

  .single-skill:first-child {
    margin-top: 0;
  }

  .circle-skills h3 {
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .single-skill {
    margin-top: 2em;
  }

  .single-skill:first-child {
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  #top-navigation .ident .vc-name .position .position-title {
    display: none;
  }
}
