#top-navigation .menuitem a span {
  font-weight: 300;
}

#top-navigation .menuitem:hover a span {
  font-weight: 500;
  font-size: 13px;
}

.copyrights a {
  color: #F8FFE9;
  text-decoration: underline;
}

#homesection div:nth-child(2) {
  display: flex;
}
