<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8" />
  <title>Michael Kohler</title>
  <meta name="description" content="Michael is a JavaScript developer and Open Source enthusiast living in Berlin. He is also a Mozilla Rep.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/theme.css">
  <link rel="stylesheet" href="/fa-all.min.css">
</head>

<body>
  {% include header.html %}

  {{content}}

  {% include footer.html %}
</body>
</html>
