<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Michael Kohler</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Michael is a Senior Software Engineering Manager and Open Source enthusiast living in Berlin. He has been contributing to Mozilla since 2008.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#23395B">

    <link
      rel="preload"
      href="/images/avatar.webp"
      as="image" />
    <link
      rel="preload"
      href="/fonts/raleway.woff2"
      as="font"
      type="font/woff2"
      crossorigin />
    <link
      rel="preload"
      href="/fonts/dosis.woff2"
      as="font"
      type="font/woff2"
      crossorigin />
    <link
      rel="preload"
      href="/fonts/fa-v6.1.2.woff2"
      as="font"
      type="font/woff2"
      crossorigin />
    <link
      rel="preload"
      href="/fonts/fa-brands-v6.1.2.woff2"
      as="font"
      type="font/woff2"
      crossorigin />

    <meta property="og:title" content="Michael Kohler - Software Engineering Manager - CV" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mkohler.dev" />
    <meta property="og:description" content="Michael is a Software Engineering Manager and Open Source enthusiast living in Berlin. He has been contributing to Mozilla since 2008." />
    <meta property="og:image" content="https://mkohler.dev/images/avatar.webp" />
    <meta property="og:image:alt" content="Preview of the website with Michael's profile image" />

    <link
      rel="shortcut icon"
      href="/favicon.ico"
      type="image/x-icon">
    <link
      rel="shortcut icon"
      href="/images/icon-192.png"
      sizes="196x196">
    <link rel="apple-touch-icon" href="/images/icon-192.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="me" href="https://fosstodon.org/@mkohler" />

    {% capture css %}
      {% include "theme.css" %}
    {% endcapture %}
    <style>
      {{ css | cssmin }}
    </style>
  </head>

  <body>
    {% include "header.html" %}

    {{ content }}

    {% include "footer.html" %}

    <script
      src="/main.js"
      defer
      async></script>
    <script
      async
      defer
      data-website-id="a7192d06-bb40-4e91-95c8-d7f6307cacb7"
      data-domains="mkohler.dev"
      data-do-not-track="true"
      src="https://view.michael.network/script.js"></script>
  </body>
</html>
