<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8" />
  <title>Michael Kohler</title>
  <meta name="description" content="Michael is a JavaScript developer and Open Source enthusiast living in Berlin. He is also a Mozilla Rep.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#23395B">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/icon-192.png" sizes="196x196">
  <link rel="apple-touch-icon" href="/images/icon-192.png">
  <link rel="manifest" href="/manifest.webmanifest">
  
  {% capture css %}
    {% include theme.css %}
  {% endcapture %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>

<body>
  {% include header.html %}

  {{content}}

  {% include footer.html %}

  <script src="/main.js" defer async></script>
</body>
</html>
