<footer>
  <h3>Menu</h3>
  <nav id="menu">
    <ul>
      <li>
        <a href="/" tabindex="2">
          CV
        </a>
      </li>
      <li>
        <a href="/opensource/" tabindex="2">
          Open Source
        </a>
      </li>
      <li>
        <a href="/blog" tabindex="2">
          Blog
        </a>
      </li>
      <li>
        <a href="/talks/" tabindex="2">
          Talks
        </a>
      </li>
    </ul>
  </nav>
  <section>
    <section>
      <h3>Michael Kohler</h3>
      <p>
        Lead Software Engineer with a passion for Web Standards and DevOps
      </p>
    </section>
    <section>
      <h3>Follow me</h3>
      <ul class="social">
        <li><a target="_blank" aria-label="Michael on Mastodon" rel="noopener noreferrer" href="https://chaos.social/@mkohler"><i class="fab">&#xe800;</i></a></li>
        <li><a target="_blank" aria-label="Michael's LinkedIn" rel="noopener noreferrer" href="https://www.linkedin.com/in/mkohlerdev"><i class="fab">&#xf30c;</i></a></li>
        <li><a target="_blank" aria-label="Michael's Blog RSS" rel="noopener noreferrer" href="/feed.xml"><i class="fas">&#xf09e;</i></a></li>
        <li><a target="_blank" aria-label="Michael on GitHub" rel="noopener noreferrer" href="https://www.github.com/MichaelKohler"><i class="fab">&#xf09b;</i></a></li>
        <li><a target="_blank" aria-label="Michael's Email" rel="noopener noreferrer" href="mailto:me@michaelkohler.info"><i class="fas">&#xf0e0;</i></a></li>
        <li><a target="_blank" aria-label="Michael on Xing" rel="noopener noreferrer" href="https://www.xing.com/profile/Michael_Kohler36"><i class="fab">&#xf168;</i></a></li>
      </ul>
    </section>
  </section>
</footer>
