<footer>
  <section>
    <h3>Michael Kohler</h3>
    <p>
      Software Engineer with a passion for Web Standards and DevOps
    </p>
    <p class="design">
      Design is an adapted version of a template by&nbsp;<a href="https://wrapbootstrap.com/user/alexeyka">alexeyka</a>
    </p>
  </section>
  <section>
    <h3>Follow me</h3>
    <div class="follow">
      <ul class="list-inline social">
        <li><a target="_blank" aria-label="Michael on Twitter" title="foo" rel="noopener noreferrer" href="https://www.twitter.com/KohlerSolutions"><i class="fab">&#xf099;</i></a></li>
        <li><a target="_blank" aria-label="Michael's LinkedIn" rel="noopener noreferrer" href="https://www.linkedin.com/in/mkohlerdev"><i class="fab">&#xf08c;</i></a></li>
        <li><a target="_blank" aria-label="Michael's Blog RSS" rel="noopener noreferrer" href="/feed.xml"><i class="fas">&#xf09e;</i></a></li>
        <li><a target="_blank" aria-label="Michael on GitHub" rel="noopener noreferrer" href="https://www.github.com/MichaelKohler"><i class="fab">&#xf09b;</i></a></li>
        <li><a target="_blank" aria-label="Michael's Email" rel="noopener noreferrer" href="mailto:me@michaelkohler.info"><i class="fas">&#xf0e0;</i></a></li>
        <li><a target="_blank" aria-label="Michael on Xing" rel="noopener noreferrer" href="https://www.xing.com/profile/Michael_Kohler36"><i class="fab">&#xf168;</i></a></li>
      </ul>
    </div>
  </section>
</footer>
