<footer>
  <section>
    <h3>Michael Kohler</h3>
    <p>
      Software Engineer with a passion for Web Standards and DevOps
    </p>
    <p class="copyrights">
      © 2016-2020 Michael Kohler - Design is an adapted version of a template by&nbsp;
      <a href="https://wrapbootstrap.com/user/alexeyka">alexeyka</a>
    </p>
  </section>
  <section>
    <h3>Follow me</h3>
    <div class="follow">
      <ul class="list-inline social">
        <li><a target="_blank" aria-label="Michael on Twitter" title="foo" rel="noopener noreferrer" href="https://www.twitter.com/KohlerSolutions"><i class="fab fa-twitter"></i></a></li>
        <li><a target="_blank" aria-label="Michael's LinkedIn" rel="noopener noreferrer" href="https://www.linkedin.com/in/mkohlerdev"><i class="fab fa-linkedin"></i></a></li>
        <li><a target="_blank" aria-label="Michael's Blog" rel="noopener noreferrer" href="https://michaelkohler.info"><i class="fas fa-globe"></i></a></li>
        <li><a target="_blank" aria-label="Michael on GitHub" rel="noopener noreferrer" href="https://www.github.com/MichaelKohler"><i class="fab fa-github"></i></a></li>
        <li><a target="_blank" aria-label="Michael's Email" rel="noopener noreferrer" href="mailto:me@michaelkohler.info"><i class="fas fa-envelope"></i></a></li>
        <li><a target="_blank" aria-label="Michael on Xing" rel="noopener noreferrer" href="https://www.xing.com/profile/Michael_Kohler36"><i class="fab fa-xing"></i></a></li>
      </ul>
    </div>
  </section>
</footer>
