<header>
  <img class="photo" src="/images/userpic01.webp" rel="preload" alt="Michael" />
  <div class="nav-container">
    <div class="name">
      <h1>Michael Kohler</h1>
    </div>
    <section class="position">
      <h2>
        <span>
          Senior Software Engineer
        </span>
      </h2>
    </section>
    <nav>
      <ul>
        <li>
          <a href="/">
            <!-- <FontAwesomeIcon icon={faUser} /> -->
            <span>resume</span>
          </a>
        </li>
        <li>
          <a href="/opensource/">
            <!-- <FontAwesomeIcon icon={faGlobe} /> -->
            <span>Open Source</span>
          </a>
        </li>
        <li>
          <a href="/talks/">
            <!-- <FontAwesomeIcon icon={faMicrophone} /> -->
            <span>talks</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.github.com/MichaelKohler"
          >
            <!-- <FontAwesomeIcon icon={faGithub} /> -->
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://michaelkohler.info"
          >
            <!-- <FontAwesomeIcon icon={faPencilAlt} /> -->
            <span>blog</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="/data/resume.json"
          >
            <!-- <FontAwesomeIcon icon={faFile} /> -->
            <span>JSON</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
