<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          CV
        </a>
      </li>
      <li>
        <a href="/opensource/">
          Open Source
        </a>
      </li>
      <li>
        <a href="/blog">
          Blog
        </a>
      </li>
    </ul>
  </nav>
  <div class="info-row">
    <img class="photo" src="/images/profile.avif" decoding="sync" alt="" />
    <div class="info-container">
      <div class="name">
        <h1>Michael Kohler</h1>
      </div>
      <section class="position">
        <h2>
          <span>Lead Software Engineer</span>
        </h2>
      </section>
    </div>
  </div>
</header>
