<header>
  <img class="photo" src="/images/profile.avif" decoding="sync" alt="" />
  <div class="nav-container">
    <div class="name">
      <h1>Michael Kohler</h1>
    </div>
    <section class="position">
      <h2>
        <span>Staff Software Engineer</span>
      </h2>
    </section>
    <nav>
      <ul>
        <li>
          <a href="/">
            <i class="fas">&#xf007;</i>
            <span>CV</span>
          </a>
        </li>
        <li>
          <a href="/opensource/">
            <i class="fas">&#xf121;</i>
            <span>Open Source</span>
          </a>
        </li>
        <li>
          <a href="/talks/">
            <i class="fas">&#xf130;</i>
            <span>Talks</span>
          </a>
        </li>
        <li>
          <a href="/blog">
            <i class="fas">&#xf040;</i>
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.github.com/MichaelKohler"
          >
            <i class="fab">&#xf09b;</i>
            <span>GitHub</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
