<div class="content-wrap">
  <section id="mozillasection" class="container-fluid nopadding">
    <div class="mozilla row nopadding bg-color01">
      <div class="col-md-12 nopadding">
        <div class="padding-50">
          <div class="row nopadding">
            <div class="col-md-12 nopadding">
              <h3 class="font-accident-two-normal uppercase">Mozilla Contributions</h3>
              <div class="quote">
                <h5 class="font-accident-one-bold uppercase subtitle">I'm a passionate Mozillian volunteering in different areas of Mozilla.</h5>
              </div>

              <h4>Why Mozilla?</h4>
              <p>I've always ... </p>

              <h4>What I have done for Mozilla</h4>

              <h5>Firefox</h5>
              <ul>
                <li class="date">2008 - now</li>
                <li class="position">....</li>
              </ul>

              <h5>Community Building</h5>
              <ul>
                <li class="date">2010 - now</li>
                <li class="position">....</li>
              </ul>

              <h5>Mozilla Reps</h5>
              <ul>
                <li class="date">2012 - now</li>
                <li class="position">....</li>
              </ul>

              <div class="mozilla-video-container">
                <iframe class="mozilla-video" src="https://www.youtube.com/embed/LtOGa5M8AuU" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
