<div class="content-wrap">
  <section id="mozillasection" class="container-fluid nopadding">
    <div class="mozilla row nopadding bg-color01">
      <div class="col-md-12 nopadding">
        <div class="padding-50">
          <div class="row nopadding">
            <div class="col-md-12 nopadding">
              <h2 class="font-accident-two-normal uppercase">Mozilla Contributions</h2>
              <div class="quote">
                <h5 class="font-accident-one-bold uppercase subtitle">I'm a passionate Mozillian volunteering in different areas of Mozilla.</h5>
              </div>

              <section class="mozilla-container">
                <h3>Why Mozilla?</h3>
                <p>I've always been interested in the Open Web since I started creating my first websites. Mozilla’s mission is ​to "ensure the Internet is a global public resource, open and accessible to all". This resonates with me very well because a lot of my knowledge comes from research on the internet.</p>
                <p>I started to use Firefox around version 1 and never have switched since then. In the beginning I was using the release channel. After my math teacher in high school introduced us to Mozilla and what he is working on for Firefox (he wrote the initial code for Session Restore) I was hooked and started to use the nightly build and report bugs. Soon after that I wrote my first patch to improve the sorting the bookmarks backup menu. Since then I have written patches, started to bring Swiss mozillians together, went as far as Germany and Austria to help build the German speaking community and nowadays I'm also involved in the Mozilla Reps (Representative) program.</p>

                <img src="/assets/images/me.jpg" alt="Michael sitting and listening" />

                <h3>What I have done for Mozilla</h3>

                <h4>Profiles</h4>
                <ul>
                  <li>Bugzilla: ...</li>
                  <li>Mozilla Reps: ...</li>
                  <li>mozillians.org: ...</li>
                </ul>

                <h4>Firefox</h4>
                <p>2008 - now</p>
                <ul>
                  <li>Using Firefox Nightly on a daily basis to test new features and look out for regressions</li>
                  <li>Filed more than 130 bugs</li>
                  <li>Submitted more than 240 patches for several different Firefox components</li>
                </ul>

                <img src="/assets/images/me_firefox.jpg" alt="Michael hugging the fox" />

                <h4>Community Building</h4>
                <p>2010 - now</p>
                <ul>
                  <li>Started with another Mozillian in Switzerland to build the mozilla.ch community</li>
                  <li>Organizing (almost) monthly meetups in Zurich (and recently also Lausanne)</li>
                  <li>Nurturing Participation in Switzerland</li>
                  <li>In 2013, 2014 and 2015 I helped develop the German-speaking community (Germany, Austria, Switzerland)</li>
                  <li>I've spoken about Mozilla at several conferences</li>
                  <li>Organized several Firefox hackathons around Switzerland to share my knowledge</li>
                </ul>

                <img src="/assets/images/me_community_building.jpg" alt="Michael in front of the Brandenburger Tor with a group of Mozillians" />

                <h4>Mozilla Reps</h4>
                <p>2012 - now</p>
                <ul>
                  <li>Started as Mozilla Rep in 2012</li>
                  <li>Officially representing Mozilla in Switzerland and supporting Community Development</li>
                  <li>Reps Mentor since 2014 to coach other Mozilla Reps</li>
                  <li>From May 2015 to August 2016 I was in the Reps Council to bring the Reps program to the next level</li>
                </ul>

                <img src="/assets/images/reps_group.jpg" alt="Michael and the rest of the Reps Council and Peers in Berlin in April 2016" />

                <h4>Firefox - Choose independent</h4>
                <div class="mozilla-video-container">
                  <iframe class="mozilla-video" src="https://www.youtube.com/embed/LtOGa5M8AuU" frameborder="0" allowfullscreen></iframe>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
