/* GLOBAL */
html {
  background-color: #3a5a77;
}

a,
ul li a {
  color: #6599be;
}

a:hover {
  text-decoration: underline;
}

.svg-inline--fa {
  font-size: 40px;
  opacity: 0.7;
}

.menuitem {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER */
#top-navigation .ident .vc-name .name .name-title,
#top-navigation .ident .vc-name .position .position-title {
  display: flex;
  align-items: center;
  padding: 23px 40px;
}

#top-navigation .menuitem a span {
  font-weight: 300;
  margin-top: 20px;
}

#top-navigation .menuitem a i {
  padding-top: 21px;
}

#top-navigation .menuitem:hover a span {
  font-weight: 500;
  font-size: 13px;
}

#top-navigation .menuitem .active span {
  font-weight: 600;
}

.Typist {
  display: inline-block;
}

/* FOOTER */
.copyrights a {
  color: #F8FFE9;
  text-decoration: underline;
}

footer .svg-inline--fa {
  font-size: 24px;
  color: #FFF;
  opacity: 0.7;
}

footer .svg-inline--fa:hover {
  opacity: 1;
}

footer .social {
  display: flex;
}

footer .social li {
  padding: 20px;
}

/* ABOUT */
#homesection .pro-experience li.position {
  line-height: 20px;
}

#homesection > section:nth-child(2) {
  display: flex;
}

.m-details {
  display: flex;
}

.single-skill {
  margin-top: 2em;
}

.infoblock:first-child {
  padding-left: 0;
}

.single-skill {
  margin-top: 2em;
}

.pro-experience h3,
.personal h3 {
  padding-bottom: 20px;
}

.experience:first-child {
  margin-bottom: 30px;
}

.infoblock-container {
  padding: 0;
  margin: 20px 0;
}

.infoblock-container .icon-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.infoblock-container .svg-inline--fa {
  font-size: 24px;
}

.personal-info .row {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #b0d2bd;
}

.personal-info .row div:first-child {
  font-weight: 600;
}

/* TALKS */
#talkssection h4 {
  margin-top: 2em;
}

.talks-container {
  margin-top: 30px;
}

.talks-list {
  line-height: 2.5em;
}

/* MOZILLA */
.mozilla-container {
  margin-top: 30px;
}

.mozilla-container img {
  width: 100%;
  margin-top: 15px;
}

.mozilla h3 {
  margin-top: 60px;
}

.mozilla h4 {
  margin-top: 30px;
}

/* CONTACT */
#contacts-data {
  margin-top: 60px;
  margin-bottom: 100px;
}

@media (min-width: 1200px) {
  .mozilla-container img {
    width: 66%;
  }
}

@media (max-width: 992px) {
  #top-navigation .ident .vc-name .position h4 {
    font-size: 14px;
  }

  #homesection > section:nth-child(2) {
    flex-direction: column;
  }

  .m-details {
    flex-direction: column;
  }

  #contacts-data {
    padding-bottom: 50px;
  }

  .infoblock-container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  #top-navigation .ident .vc-photo {
    min-height: 650px;
  }

  #top-navigation .ident .vc-name .position h4 {
    font-size: 13px;
  }

  #top-navigation .ident .vc-name .name .name-title,
  #top-navigation .ident .vc-name .position .position-title {
    justify-content: center;
  }

  .single-skill {
    margin-top: 2em;
  }

  .single-skill:first-child {
    margin-top: 0;
  }

  .circle-skills h3 {
    padding-bottom: 20px;
  }

  .single-skill {
    margin-top: 2em;
  }

  .single-skill:first-child {
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  #top-navigation .ident .vc-name .position .position-title {
    display: none;
  }
}
