<div class="content-wrap">
  <section id="presentationsection" class="container-fluid nopadding">
    <div class="m-details row nopadding bg-color01">
      <div class="col-md-8 nopadding">
        <div class="padding-50">
          <div class="row nopadding">
            <div class="col-md-12 nopadding">
              <h3 class="font-accident-two-normal uppercase">Presentations</h3>
              <div class="quote">
                <h5 class="font-accident-one-bold uppercase subtitle">I give presentations about all different kinds of topics. You can find all slides here.</h5>
                <div class="dividewhite1"></div>
              </div>
            </div>
            <p>
              There is still a lot to come here..
            </p>
          </div>
          <div class="divider-dynamic"></div>
        </div>
      </div>
    </div>
  </section>
</div>
