<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Michael Kohler</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Michael is a Lead Software Engineer and Open Source enthusiast living in Berlin. He has been contributing to Mozilla since 2008.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#23395B">

    <link
      rel="preload"
      href="/images/profile.avif"
      as="image" />
    <link
      rel="preload"
      href="/fonts/nebulasans-light.woff2"
      as="font"
      type="font/woff2"
      crossorigin />
    <link
      rel="preload"
      href="/fonts/fa-v6.1.2-mini-extended.woff2"
      as="font"
      type="font/woff2"
      crossorigin />

    <meta property="og:title" content="Michael Kohler - Lead Software Engineer - CV" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mkohler.dev" />
    <meta property="og:description" content="Michael is a Lead Software Engineer and Open Source enthusiast living in Berlin. He has been contributing to Mozilla since 2008." />
    <meta property="og:image" content="https://mkohler.dev/images/profile.avif" />
    <meta property="og:image:alt" content="Preview of the website with Michael's profile image" />

    <link
      rel="shortcut icon"
      href="/favicon.ico"
      type="image/x-icon">
    <link
      rel="shortcut icon"
      href="/images/icon-192.png"
      sizes="196x196">
    <link rel="apple-touch-icon" href="/images/icon-192.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <link rel="alternate" type="application/atom+xml" title="Feed for the blog on mkohler.dev" href="/feed.xml" />
    <link rel="me" href="https://chaos.social/@mkohler" />
    <link rel="monetization" href="https://mkohler.dev/.well-known/pay">

    <style>
      {% include "../_includes/theme.css" %}
    </style>
  </head>

  <body>
    {% include "../_includes/header.html" %}

    {{ content }}

    {% include "../_includes/footer.html" %}

    <script
      src="/main.js"
      defer
      async></script>
  </body>
</html>
