---
layout: "base.liquid"
permalink: "/"
---

<section id="homesection">
  <section class="details">
    <div class="about">
      <h3 class="tagline">
        Software Engineer with a passion for Web Standards and DevOps
      </h3>

      <section class="row infoblock-container">
        <div class="infoblock">
          <h4>
            Eager to learn
          </h4>
          <p>
            Even though I have more than a decade of experience with Software Engineering
            I&apos;m always eager to learn more to increase my knowledge.
          </p>
        </div>
        <div class="infoblock">
          <h4>
            Motivated
          </h4>
          <p>
            With my volunteer work for Mozilla I&apos;m very passionate about the Open
            Web and Software Engineering in general.
            Head over to the <a href="/opensource">dedicated Open Source page</a> to see
            many of my contributions.
          </p>
        </div>
      </section>
    </div>

    <section class="sidebar">
      <h3>Personal Info</h3>
      <div class="sidebar-info">
        <div class="row">
          <div>Name:</div>
          <div>Michael Kohler</div>
        </div>
        <div class="row">
          <div>Place:</div>
          <div>
            Berlin, Germany
            <br/>
            originally from Bern, Switzerland
          </div>
        </div>
        <div class="row">
          <div>eMail:</div>
          <a href="mailto:me@michaelkohler.info">me@michaelkohler.info</a>
        </div>
        <div class="row">
          <div>Languages (fluent):</div>
          <div>German, English</div>
        </div>
      </div>
    </section>
  </section>

  <section class="experience-info">
    <section class="sidebar skills">
      <h3>Skills</h3>
      <div class="sidebar-info">
        <div class="row">
          <div>Programming Languages:</div>
          <div>TypeScript/JavaScript, HTML, CSS, Rust, Python, Lua, Bash</div>
        </div>
        <div class="row">
          <div>DevOps:</div>
          <div>Pipelines/Actions, Docker, Kubernetes, Grafana, Prometheus, GitLab, Ansible, Metrics</div>
        </div>
        <div class="row">
          <div>Databases:</div>
          <div>MySQL, DynamoDB, InfluxDB, MongoDB</div>
        </div>
        <div class="row">
          <div>IoT:</div>
          <div>WebThings, Z-Wave, Device Management, Firmware Management, MQTT</div>
        </div>
        <div class="row">
          <div>Methodologies:</div>
          <div>Scrum, Pair Programming, TDD, Feature Flags, Code Quality, Cost Analysis, Monitoring</div>
        </div>
        <div class="row">
          <div>Product:</div>
          <div>
            Requirement Engineering, Release Management, Backlog Refinement, Sprint Planning, Retros, Analytics
          </div>
        </div>
        <div class="row">
          <div>Management:</div>
          <div>Mentoring, Conflict Resolution, Personal Development</div>
        </div>
      </div>
    </section>

    <div class="pro-experience">
      <h3>Experience</h3>
      <div class="experience">
        <ul>
          <li>
            <p class="date">01/2021 - now</p>
            <p class="company">
              <a href="https://www.klarna.com/">Klarna Bank AB</a>
            </p>
            <p class="position">Lead Engineer, Card Experience (React Native, TypeScript, Node.js)</p>
            <ul class="responsibilities">
              <li>
                Improve Card Experience
              </li>
            </ul>
          </li>
          <li>
            <p class="position">Engineering Manager, Card Management Experience (React Native, TypeScript, Node.js, several AWS products including AWS Glue)</p>
            <ul class="responsibilities">
              <li>
                Responsible for the Card overview and detail screens for the Klarna Card, such as Card Details, PIN and Settings
              </li>
              <li>
                Responsible for the Digital Wallet frontend integrations, such as Apple Pay and Google Pay provisioning flows
              </li>
              <li>
                Lead engineers from multiple teams to implement the Klarna Card Monthly Fee in one project team
              </li>
            </ul>
          </li>
          <li>
            <p class="position">Senior Engineer, Klarna Card Payment Methods / Card Management (React Native, TypeScript, Node.js)</p>
            <ul class="responsibilities">
              <li>
                Implementing and maintaining different Payment Methods for the Klarna Card depending on the market
              </li>
              <li>
                Improvements and expansion of the Pre-Purchase Financing offer for the Klarna Card
              </li>
              <li>
                Market expansion for the Klarna Card
              </li>
              <li>
                Leading Team Ceremonies such as refinements and retrospectives
              </li>
              <li>
                Tech Lead role on new projects, mostly for technical discovery
              </li>
              <li>
                On-boarding new members of the team
              </li>
              <li>
                Helping others with personal development and mentorship
              </li>
              <li>
                Regular knowledge sharing with other team members
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <p class="date">04/2008 - now</p>
            <p class="company">
              <a href="https://www.mozilla.org">Volunteer @ Mozilla Foundation</a>
            </p>
            <p class="position">Developer, Community Builder</p>
            <p>Head over to the <a href="/opensource">dedicated Open Source page</a> to see many of my contributions.
            <ul class="responsibilities">
              <li>
                Mozilla Rep from 2012 to 2023 - served on the Reps Council and was a Reps Leadership Peer
              </li>
              <li>
                Maintained the Common Voice Sentence Collector (Node.js, React, MySQL) until 2023 (now part of the platform)
                and maintaining Sentence Extractor (Rust)
              </li>
              <li>
                Implemented several GitHub Actions to automate processes for Common Voice
              </li>
              <li>
                Created several volunteer campaign websites to boost volunteer involvement
              </li>
              <li>
                Contributions to Firefox (Testing, Coding)
              </li>
              <li>
                Contributions to Firefox OS (Testing, Coding, Evangelism, Apps)
              </li>
              <li>
                Contributions to Webmaker (Teaching), also in combination with Firefox OS
              </li>
              <li>
                Built communities in Switzerland, Germany and Austria
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <p class="date">11/2016 - 12/2020</p>
            <p class="company">
              <a href="http://www.control4.com">Control4</a> (NEEO until 2019)
            </p>
            <p class="position">Senior Software Development Engineer</p>
            <ul class="responsibilities">
              <li>
                Implementation of NEEO Remote - Hub, App, Cloud (including Firmware upgrade delivery)
              </li>
              <li>
                Integration of Z-Wave devices into NEEO (including certification)
              </li>
              <li>
                Integration of the Neeo Remote into the Control4 system (Node.js)
              </li>
              <li>
                Bugfixes on the Control4 remote driver (Lua)
              </li>
              <li>
                Feature Flags implementation and Release Management processes,
                tools and pipelines
              </li>
              <li>
                Improvements to Automated Test Infrastructure (Python, Ansible, GitLab)
              </li>
              <li>
                Implementation of Metrics Tracking and Dashboards (Node.js, SQL, Grafana)
              </li>
              <li>
                Continuous improvement of development environment
              </li>
              <li>
                Mentoring other team members
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <p class="date">04/2015 - 10/2016</p>
            <p class="company">
              <a href="http://www.netcase.ch">NETCASE GmbH</a>
            </p>
            <p class="position">Web Developer</p>
            <ul class="responsibilities">
              <li>
                Created several smaller websites (Vanilla JS, Sails.js)
              </li>
              <li>
                Worked on a larger product management tool (Node.js, Loopback, AngularJS)
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <p class="date">08/2010 - 02/2015</p>
            <p class="company">
              <a href="http://www.swisscom.ch">Swisscom Banking Provider AG</a> (Entris Banking AG until 2014)
            </p>
            <p class="position">
              Application Developer, 2nd-Level-Support Document Output
              Management
            </p>
            <ul class="responsibilities">
              <li>
                Worked on a large project to migrate the core banking platform of several banks
              </li>
              <li>
                Responsible for the Document Output System used to print customer documents
              </li>
              <li>
                Improvements and adjustments to documents and wizard (C#, VBA, Office)
              </li>
              <li>
                Requirement engineering and project management for the Document Output System
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>
